# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# Height maps
dem*.tif
dem*.tiff

# Test runner scripts
test.sh

# IDE files
.idea

# jupyter
.ipynb_checkpoints
